name: Test OV256_184_72_pkc_skc

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    name: ${{ matrix.cc }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cc:
          - gcc
          - clang
    steps:
    - uses: actions/checkout@v3
    - name: test
      run: make PARAM=4 VARIANT=3 test
      env:
        CC: ${{ matrix.cc }}
    - name: asan
      run: |
        make clean
        make ASAN=1 PARAM=4 VARIANT=3 test
      env:
        CC: ${{ matrix.cc }}
    - name: ubsan
      run: |
        make clean
        make UBSAN=1 PARAM=4 VARIANT=3 test
      env:
        CC: ${{ matrix.cc }}
  valgrind:
    name: Valgrind constant-time check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: valgrind
      run: |
        make VALGRIND=1 PARAM=4 VARIANT=3
        valgrind --error-exitcode=1 --exit-on-first-error=yes --leak-check=yes ./sign_api-test
